name: Srtool build

env:
  SUBWASM_VERSION: 0.21.0
  TOML_CLI_VERSION: 0.2.4

on:
  workflow_call:
    inputs:
      excluded_runtimes:
        type: string
      build_opts:
        type: string
      profile:
        type: string
      chain:
        type: string
      runtime_dir:
        type: string
    outputs:
      published_runtimes:
        value: ${{ jobs.find-runtimes.outputs.runtime }}

permissions:
    id-token: write
    attestations: write
    contents: read

jobs:
  find-runtimes:
      name: Scan repo paritytech/polkadot-sdk
      outputs:
        runtime: ${{ steps.get_runtimes_list.outputs.runtime }}
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
          with:
            fetch-depth: 0

        - name: Install tooling
          run: |
            URL=https://github.com/chevdor/toml-cli/releases/download/v${{ env.TOML_CLI_VERSION }}/toml_linux_amd64_v${{ env.TOML_CLI_VERSION }}.deb
            curl -L $URL --output toml.deb
            sudo dpkg -i toml.deb
            toml --version; jq --version

        - name: Scan and get runtimes list
          id: get_runtimes_list
          env:
            EXCLUDED_RUNTIMES: ${{ inputs.excluded_runtimes }}:"substrate-test"
            CHAIN: ${{ inputs.chain }}
            RUNTIME_DIR: ${{ inputs.runtime_dir }}
          run: |
            . ./.github/scripts/common/lib.sh

            echo "Github workspace: ${GITHUB_WORKSPACE}"
            echo "Current folder: $(pwd)"; ls -al
            ls -al

            if [ "$CHAIN" == "all" ]; then
              MATRIX=$(find_runtimes | tee runtimes_list.json)
              echo $MATRIX
              echo "runtime=$MATRIX" >> $GITHUB_OUTPUT
            else
              if [ -n "$RUNTIME_DIR" ]; then
                # Create a custom matrix with specific chain and runtime_dir
                MATRIX='{"include":[{"chain":"'$CHAIN'","crate":"'$CHAIN'-runtime","runtime_dir":"'$RUNTIME_DIR'"}]}'
              else
                echo "RUNTIME_DIR is not set"
                exit 1
              fi
              echo $MATRIX
              echo "runtime=$MATRIX" >> $GITHUB_OUTPUT
            fi

  srtool:
    runs-on: ubuntu-latest
    needs:
      - find-runtimes
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.find-runtimes.outputs.runtime) }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Srtool build
        id: srtool_build
        uses: chevdor/srtool-actions@48e9baed50ca414936dfac59d34d8b9bbe581abd # v0.9.2
        env:
          BUILD_OPTS: ${{ inputs.build_opts }}
        with:
          chain: ${{ matrix.chain }}
          runtime_dir: ${{ matrix.runtime_dir }}
          profile: ${{ inputs.profile }}

      - name: Summary
        env:
          SRTOOL_JSON: ${{ steps.srtool_build.outputs.json }}
          CHAIN: ${{ matrix.chain }}
          WASM_PATH: ${{ steps.srtool_build.outputs.wasm }}
          WASM_COMPRESSED_PATH: ${{ steps.srtool_build.outputs.wasm_compressed }}
        run: |
          echo "$SRTOOL_JSON" | jq > "${CHAIN}-srtool-digest.json"
          cat "${CHAIN}-srtool-digest.json"
          echo "Compact Runtime: $WASM_PATH"
          echo "Compressed Runtime: $WASM_COMPRESSED_PATH"

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3.2.0
        with:
          subject-path:  ${{ steps.srtool_build.outputs.wasm }}

      # We now get extra information thanks to subwasm
      - name: Install subwasm
        run: |
          wget https://github.com/chevdor/subwasm/releases/download/v${{ env.SUBWASM_VERSION }}/subwasm_linux_amd64_v${{ env.SUBWASM_VERSION }}.deb
          sudo dpkg -i subwasm_linux_amd64_v${{ env.SUBWASM_VERSION }}.deb
          subwasm --version

      - name: Show Runtime information
        shell: bash
        env:
          WASM_PATH: ${{ steps.srtool_build.outputs.wasm }}
          WASM_COMPRESSED_PATH: ${{ steps.srtool_build.outputs.wasm_compressed }}
          CHAIN: ${{ matrix.chain }}
        run: |
          subwasm info "$WASM_PATH"
          subwasm info "$WASM_COMPRESSED_PATH"
          subwasm --json info "$WASM_PATH" > "${CHAIN}-info.json"
          subwasm --json info "$WASM_COMPRESSED_PATH" > "${CHAIN}-compressed-info.json"

      - name: Extract the metadata
        shell: bash
        env:
          WASM_PATH: ${{ steps.srtool_build.outputs.wasm }}
          CHAIN: ${{ matrix.chain }}
        run: |
          subwasm meta "$WASM_PATH"
          subwasm --json meta "$WASM_PATH" > "${CHAIN}-metadata.json"

      - name: Check the metadata diff
        shell: bash
        env:
          WASM_PATH: ${{ steps.srtool_build.outputs.wasm }}
          CHAIN: ${{ matrix.chain }}
        # the following subwasm call will error for chains that are not known and/or live, that includes shell for instance
        run: |
          subwasm diff "$WASM_PATH" --chain-b "$CHAIN" || \
            echo "Subwasm call failed, check the logs. This is likely because $CHAIN is not known by subwasm" | \
            tee "${CHAIN}-diff.txt"

      - name: Archive Subwasm results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ matrix.chain }}-runtime
          path: |
            ${{ matrix.chain }}-info.json
            ${{ matrix.chain }}-compressed-info.json
            ${{ matrix.chain }}-metadata.json
            ${{ matrix.chain }}-diff.txt
            ${{ steps.srtool_build.outputs.wasm }}
            ${{ steps.srtool_build.outputs.wasm_compressed }}
            ${{ matrix.chain }}-srtool-digest.json
