name: Upload to s3

on:
  workflow_call:
    inputs:
      package:
        description: Package to be built, for now is either polkadot or polkadot-parachain-bin
        required: true
        type: string

      release_tag:
        description: Tag matching the actual release candidate with the format polkadot-stableYYMM(-X)-rcX or polkadot-stableYYMM-rcX
        required: true
        type: string

      target:
        description: Target triple for which the artifacts are being uploaded (e.g aarch64-apple-darwin)
        required: true
        type: string

jobs:
  upload-artifacts-to-s3:
      runs-on: ubuntu-latest
      environment: release
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_RELEASE_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_RELEASE_SECRET_ACCESS_KEY }}
        AWS_REGION: ${{ secrets.AWS_DEFAULT_REGION }}

      steps:
        - name: Checkout
          uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

        - name: Download amd64 artifacts
          uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
          with:
            name: ${{ inputs.package }}_${{ inputs.target }}
            path: release-artifacts/${{ inputs.target }}/${{ inputs.package }}

        - name: Configure AWS Credentials
          uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
          with:
            aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
            aws-region: ${{ env.AWS_REGION }}

        - name: Upload ${{ inputs.package }} artifacts to s3
          env:
            PACKAGE: ${{ inputs.package }}
            RELEASE_TAG: ${{ inputs.release_tag }}
            TARGET: ${{ inputs.target }}
          run: |
            . ./.github/scripts/release/release_lib.sh
            upload_s3_release "$PACKAGE" "$RELEASE_TAG" "$TARGET"
